@page "/"

<PageTitle>Home</PageTitle>

<h1> Hello World! </h1>

<p>There I checking style of text</p>

<!--<div>
    <a role="button" href="Test.html">Check Html version of downloading</a>
</div>-->

<img id="Tulips" src="Tulips.jpg" width="500" />

<div>
    <a class="btn" href="Tulips.jpg" download>Download Image using Html</a>
    <button class="btn" onclick="downloadImage('Tulips.jpg')">Download Image using Javascript</button>
</div>